body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background-color: white;
  
}

.flex-container {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  margin: 50px auto;
  max-width: 80%;
  justify-content:center;
}
.wrapper{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap-reverse;
}
h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}